.profile{
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  background-color: blueviolet;
}
